<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Upload de resultados</title>
<link href="css/menu.css" rel='stylesheet' type='text/css'>

<style>
	.demo {
		border:1px solid #C0C0C0;
		border-collapse:collapse;
		padding:5px;
	}
	.demo th {
		border:1px solid #C0C0C0;
		padding:5px;
		background:#F0F0F0;
	}
	.demo td {
		border:1px solid #C0C0C0;
		padding:5px;
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
  <h1>Upload de resultados</h1>
  <hr/>  
  <form method="POST" th:action="@{/uploadFile}" enctype="multipart/form-data">
    <input type="file" name="file"/> <br/><br/>
    <input type="hidden" name="batch" th:value="${batch}"/>
    <button type="submit">Submit</button>
  </form>
  </br></br> 
  <div th:if="${message}">
    <h2 th:text="${message}"/>
  </div>
</body>