<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Listagem de requisições</title>
<link href="css/menu.css" rel='stylesheet' type='text/css'>
<style>
		/* Style the buttons that are used to open and close the accordion panel */
	.accordion {
	  background-color: #eee;
	  color: #444;
	  cursor: pointer;
	  padding: 18px;
	  width: 100%;
	  text-align: left;
	  border: none;
	  outline: none;
	  transition: 0.4s;
	}
	
	/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	.active, .accordion:hover {
	  background-color: #ccc;
	}
	
	/* Style the accordion panel. Note: hidden by default */
	.panel {
	  padding: 0 18px;
	  background-color: white;
	  display: none;
	  overflow: hidden;
	}
	
	.demo {
		border:1px solid #C0C0C0;
		border-collapse:collapse;
		padding:5px;
	}
	.demo th {
		border:1px solid #C0C0C0;
		padding:5px;
		background:#F0F0F0;
	}
	.demo td {
		border:1px solid #C0C0C0;
		padding:5px;
	}
	
	


.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}








</style>



</head>
<body>	       
<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="listarrequisicoes">Acompanhar Requisições</a>
  <a  href="formrequisicao">Criar Requisição</a>
  
</div>
<div style="padding-left:16px">
  <h2>Acompanhamento de requisições</h2>
</div>



<th:block th:each="batch : ${batches}">
<button class="accordion"> <th:block th:text="${batch.getResumo()}"></th:block>
<a th:href='@{/DownloadMTurkInput?batch=} + ${batch.getId()}'>       Download urls</a>
<a th:href='@{/UploadMTurkOutput?batch=} + ${batch.getId()}' target="_new">       Upload resultados</a>
</button>
<div class="panel">
<h2>Requisições</h2>
<table class="demo" >
    <thead>
	<tr>
	    <th>Id</th>
	    <th>Url</th>
		<th>Título</th>
		<th>Consenso da maioria</th>
		<th>Checagem do especialista</th>		
	</tr>
	</thead>
	<tbody >	
		  <th:block th:each="request : ${batch.getRequestsOrdered()}">
		  <tr>
		    <td th:text="${request.Id}"></td>
		  	<td th:text="${request.Url}"></td>
		  	<td th:text="${request.Title}"></td>
		  	<td th:text="${request.getMajorityConcensus()}"></td>
		  	<td th:text="${request.getPreCheckString()}"></td>		  	
		  </tr>
		  </th:block>
   </tbody>
  </table>
  
    
		    
  <figure class="highcharts-figure">
    <div th:id='@{container} +${batch.getId()}'></div> 
    <p class="highcharts-description">        
    </p>
    
 
    <table th:data-id='${batch.getId()}' class='datatableclass' th:id='@{datatable} +${batch.getId()}' style='display:none'>
    <thead>
	<tr>
	    <th></th>
	    <th>True</th>
	    <th>Partially-True</th>
	    <th>Non-Verifiable</th>
		<th>False</th>		
	</tr>
	</thead>
	<tbody >
    <th:block th:each="request : ${batch.getRequestsOrdered()}">
    <tr>
         <td th:text="${request.Id}"></td>
		 <td th:text="${request.countResponses('T')}"></td>
		 <td th:text="${request.countResponses('P')}"></td>
		 <td th:text="${request.countResponses('N')}"></td>
		 <td th:text="${request.countResponses('F')}"></td>
    </tr>
    </th:block>
	</tbody>
	</table> 
	
 </figure>
</div>
</th:block>

       
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

$( ".datatableclass" ).each(function( index ) {
	
	var containerId = 'container' + $( this ).attr('data-id');
	
	Highcharts.chart(containerId, {
	    data: {
	        table: $( this ).attr('id')
	    },
	    chart: {
	        type: 'column'
	    },
	    colors: ['green', 'blue', 'black', 'red'],
	    title: {
	        text: 'Resultado da checagem da multidão'
	    },
	    yAxis: {
	        allowDecimals: false,
	        title: {
	            text: 'Votos'
	        }
	    },
	    tooltip: {
	        formatter: function () {
	            return '<b>' + this.series.name + '</b><br/>' +
	                this.point.y + ' votos';
	        }
	    }
	});
	
});
	


	
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
 
 
 
 

</script>
</body>
</html>